
<nav class="navbar navbar-expand-md navbar-light nav-class" id="navbar">
  <a class="navbar-brand" href="#">Tanra Events</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>

  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" routerLink='./home' routerLinkActive='nav-highlight'>Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" routerLink='./gallery' routerLinkActive='nav-highlight'>Gallery</a>
      </li>
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" routerLink='./contactus' routerLinkActive='nav-highlight'>Contact Us</a>
      </li>
    </ul>
  </div>
</nav>